@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Style+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ############################## html element styling ################################ */
html{
    /* font-size: 10px; */
    /* 16px---100% */
    /* 10px----? */
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat' , 'sans-serif';
    line-height: 1.7;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.10em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.10em;
    font-weight: 500;
}

/* ########################## utility classes ############################### */

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}

.btn-primary:hover{
    background-color: #ddd;
}

.btn-secondary{
    background-color: #fff;
    border: 2px solid #e63946;
    border-radius: 1.5em;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
}


.lg-heading{
    font-size: 3.2rem;
}

.md-heading{
    font-size: 2rem;
}

.text-red{
    color: #e63946;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-gray{
    color: #555555;
}
.bg-dark{
    background-color: #263238;
}

/* ##########################-------########################### */

/* ####################### header styling ############################### */
.Header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../IMG/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar{
    padding: 1rem;
}

.navbar .logo{
    float: left;
    height: 45px;
    padding-top: 0.5rem;
}

.navbar .navitems{
    float: right;
    margin-top: 1rem;
}

.navbar .navitem{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar a:hover{
    border-bottom: 1px solid #fff;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

/* ############################ header coontent styling ####################### */
.header-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 5rem;
    font-family: 'Caveat',cursive;
}

.header-content p{
    text-transform: uppercase;
}

/* ############################## showcase section styling ################################## */
.showcase{
    background: #ddd;
    padding: 10rem 0;
}

.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(170, 170, 170, 0.493);
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box , .row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box , .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}
.row .text-box{
    padding: 3rem;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

/* #################################### feature section styling #################################### */

.features{
    padding: 10rem 0;
}

.box-wrapper{
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.521);
}

.box{
    width: 33.33333%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box-1,.box-3{
    background-color: #263238;
    color: white;
}
.box-2{
    background-color: #e21123;
    color: white;
}

.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

/* ################################ footer styling ####################### */
.footer{
    background: #263238;
    color: #f4f4f4;
    text-align: center;
    padding: 2rem;
}

.social-media{
    margin: 2rem;
}
.social-media i{
    padding: 2rem;
}
/* ############################ about page styling ########################### */

.about{
    padding: 5rem 0;
}

.about-heading{
    border-bottom: 6px solid #e63946;
    width: 100%;
}

/* .about-heading::after{
    content: '';
    display: block;
    border: 3px solid #e63946;
    width: 100%;
} */
.about-wrapper{
    text-align: center;
    margin-top: 3rem;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}

.about-wrapper .right{
    float: right;
    width: 50%;
}

.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.about-wrapper li::before{
    content: '\2713';     
    /* this 2713 is the code taken from net to bring the tick marks. */
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

/* ############################## count styling ############################## */

.counts{
    margin-top: 3rem;
}

.count-item{
    float: left;
    width: 25%;
    text-align: center;
}

.counts::after{
    content: '';
    display: block;
    clear: both;
}

.count-item span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.count-item p{
    font-weight: 700;
    color: #555555;
    font-size: 1.8rem;
}

.cta-banner{
    background-color: #e21123;
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px #00000041;
    margin-top: 3rem;
}
.cta-text{
    width: 60%;
    float: left;
}
.cta-btn{
    float: right;
    width: 40%;
    text-align: right;
}

.cta-line{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;
}

.contact-cta{
    text-align: center;
    display: inline-block;
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
    border: 3.5px solid white;
    padding: 0.3rem 5rem;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
}
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}

/* ################################### contact page styling ################################ */

.contact-form{
    padding: 5rem 0rem;
    background: #f7f7f7;
}


.form-wrapper .company-address{
    float: left;
    width: 49%;
    background: #fff;
    padding: 1rem;
    height: 760px;
}
.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .address-grp{
    margin-bottom: 3rem;
}

.form-wrapper .company-address img{
    max-width: 90%;
    min-height: 38rem;
    object-fit: cover;
    object-position: right;
}

.form-wrapper .form{
    width: 49%;
    float: right;
    background: #fff;
}

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

/* ######################### form styling #######################  */
.form-wrapper .form{
    background: #fff;
    font-size: 1.6rem;
    width: 49%;
    float: right;
    padding: 1rem;
    height: 760px;
}

.form h1::after{
    content: '';
    display: block;
    width: 100%;
    border: 3px solid #e21123;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}
.form-wrapper .form .form-grp{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: '* ';
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

/* ############################# media quiries ###################################  */
@media (max-width: 500px){
    html{
        font-size: 50%;
    }

    .navbar .nav-items{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    .navbar .logo{
        height: 50%;
        width: 50%;
    }

    .header-content .main-heading{
        display: none;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }

    .box-wrapper{
    box-shadow: none;
    }

    .cta-text,
    .cta-btn{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }

}

@media (min-width: 501px) and (max-width: 770px){
    html{
        font-size: 50%;
    }

    .navbar .nav-items{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    .navbar .logo{
        height: 50%;
        width: 50%;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box-2,
    .features .box-3{
        margin-top: 7rem;
    }

    .box-wrapper{
    box-shadow: none;
    }

    .cta-text,
    .cta-btn{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 771px) and (max-width: 1200px){
    html{
        font-size: 56.25%;
    }
}

@media (orientation: landscape)and (max-height: 500px){
    .Header{
        height: 90vmax;
    }
}